<div class="page-header">
  <h3>Roaster Follow #<%= @roaster_follow.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @roaster_follow.user_id %></dd>

      <dt>Roaster</dt>
      <dd><%= @roaster_follow.roaster_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roaster_follows" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @roaster_follow.user %>
        <a href="/roaster_follows/<%= @roaster_follow.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_roaster_follow/<%= @roaster_follow.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
