<!-- Validation failure messages -->
<% if @bean_like.errors.any? %>
  <% @bean_like.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Bean Like #<%= @bean_like.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_bean_like/<%= @bean_like.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @bean_like.user_id %>">
      </div>

      <!-- Label and input for bean_id -->
      <div class="form-group">
        <label for="bean_id" class="control-label">
          Bean
        </label>

        <input type="text" id="bean_id" name="bean_id" placeholder="Bean" class="form-control" value="<%= @bean_like.bean_id %>">
      </div>

      <button class="btn btn-warning">
        Update Bean Like
      </button>
      or
      <a href="/bean_likes/<%= @bean_like.id %>">Cancel</a>
    </form>
  </div>
</div>
