<div class="page-header">
  <h1>
    Bean likes
    <a href="/bean_likes/new" class="btn btn-lg btn-success">New Bean like</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Bean</th>
        <th>Actions</th>
      </tr>

      <% @bean_likes.each do |bean_like| %>
      <tr>
        <td><%= bean_like.user.email %></td>
        <td><%= bean_like.bean.bean %></td>
        <td>
          <a href="/bean_likes/<%= bean_like.id %>" class="btn btn-primary">Show</a>
          <a href="/bean_likes/<%= bean_like.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_bean_like/<%= bean_like.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
