<div class="page-header">
  <h3>Bean Like #<%= @bean_like.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @bean_like.user.present? %>
          <a href="/users/<%= @bean_like.user_id %>">
            <%= @bean_like.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Bean</dt>
      <dd>
        <% if @bean_like.bean.present? %>
          <a href="/beans/<%= @bean_like.bean_id %>">
            <%= @bean_like.bean.bean %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bean_likes" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bean_like.user %>
        <a href="/bean_likes/<%= @bean_like.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bean_like/<%= @bean_like.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
