<div class="page-header">
  <h3>Roaster #<%= @roaster.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Roaster</dt>
      <dd><%= @roaster.roaster %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/roasters" class="btn btn-primary">
        Back
      </a>
      <a href="/roasters/<%= @roaster.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_roaster/<%= @roaster.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Roaster has many beans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Beans
      </li>

      <% @roaster.beans.each do |bean| %>
        <li class="list-group-item">
          <a href="/beans/<%= bean.id %>">
            <%= bean.bean %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/beans/<%= bean.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/beans/<%= bean.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bean/<%= bean.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bean" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bean -->
      <div class="form-group">
        <label for="bean" class="control-label">
          Bean
        </label>

        <input type="text" id="bean" name="bean" placeholder="Bean" class="form-control" value="">
      </div>

      <!-- Label and input for roaster_id -->
      <input type="hidden" name="roaster_id" value="<%= @roaster.id %>">

      <button class="btn btn-block btn-success">
        Create Bean
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Roaster has many roaster_follows -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Roaster Follows
      </li>

      <% @roaster.roaster_follows.each do |roaster_follow| %>
        <li class="list-group-item">
          <a href="/roaster_follows/<%= roaster_follow.id %>">
            <%= roaster_follow.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/roaster_follows/<%= roaster_follow.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/roaster_follows/<%= roaster_follow.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_roaster_follow/<%= roaster_follow.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_roaster_follow" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for roaster_id -->
      <input type="hidden" name="roaster_id" value="<%= @roaster.id %>">

      <button class="btn btn-block btn-success">
        Create Roaster Follow
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Roaster has many followers -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Followers
      </li>

      <% @roaster.followers.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
