<div class="page-header">
  <h3>Bean Drink #<%= @bean_drink.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bean</dt>
      <dd>
        <% if @bean_drink.bean.present? %>
          <a href="/beans/<%= @bean_drink.bean_id %>">
            <%= @bean_drink.bean.bean %>
          </a>
        <% end %>
      </dd>

      <dt>Drink</dt>
      <dd>
        <% if @bean_drink.drink.present? %>
          <a href="/drinks/<%= @bean_drink.drink_id %>">
            <%= @bean_drink.drink.drink %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bean_drinks" class="btn btn-primary">
        Back
      </a>
      <a href="/bean_drinks/<%= @bean_drink.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bean_drink/<%= @bean_drink.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
