<div class="page-header">
  <h3>Bean #<%= @bean.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bean</dt>
      <dd><%= @bean.bean %></dd>

      <dt>Roaster</dt>
      <dd><%= @bean.roaster_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/beans" class="btn btn-primary">
        Back
      </a>
      <a href="/beans/<%= @bean.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bean/<%= @bean.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
