<div class="page-header">
  <h3>Bean #<%= @bean.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bean</dt>
      <dd><%= @bean.bean %></dd>

      <dt>Roaster</dt>
      <dd><%= @bean.roaster_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/beans" class="btn btn-primary">
        Back
      </a>
      <a href="/beans/<%= @bean.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bean/<%= @bean.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Bean has many bean_drinks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bean Drinks
      </li>

      <% @bean.bean_drinks.each do |bean_drink| %>
        <li class="list-group-item">
          <a href="/bean_drinks/<%= bean_drink.id %>">
            <%= bean_drink.bean_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bean_drinks/<%= bean_drink.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bean_drinks/<%= bean_drink.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bean_drink/<%= bean_drink.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bean_drink" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bean_id -->
      <input type="hidden" name="bean_id" value="<%= @bean.id %>">

      <!-- Label and input for drink_id -->
      <div class="form-group">
        <label for="drink_id" class="control-label">
          Drink
        </label>

        <%= select_tag(:drink_id, options_from_collection_for_select(Drink.all, :id, :drink), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Bean Drink
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bean has many likes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Likes
      </li>

      <% @bean.likes.each do |bean_like| %>
        <li class="list-group-item">
          <a href="/bean_likes/<%= bean_like.id %>">
            <%= bean_like.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bean_likes/<%= bean_like.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bean_likes/<%= bean_like.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bean_like/<%= bean_like.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bean_like" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for bean_id -->
      <input type="hidden" name="bean_id" value="<%= @bean.id %>">

      <button class="btn btn-block btn-success">
        Create Bean Like
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Bean has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @bean.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Bean has many coffee_types -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Coffee Types
      </li>

      <% @bean.coffee_types.each do |drink| %>
        <li class="list-group-item">
          <a href="/drinks/<%= drink.id %>">
            <%= drink.drink %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drinks/<%= drink.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drinks/<%= drink.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_drink/<%= drink.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
